<div class="content">
    <section id="featured">
        <div class="slide">
            <div class="slide-img">
                <img src="img/0140_foodsense.jpg">
            </div>
            <div class="caption">
                <h4>What&rsquo;s Cooking?</h4>
                <h5>Browse our gallery for dependably delicious recipes. </h5>
            </div>
        </div>
        <nav>
            <ul>
                <li id="feature-1" class="activeSlide">
                    <a href="/tastemakers">
                        <h3>Tastemakers</h3>
                        <p>Feast your eyes &amp; get recipes!</p>
                    </a>
                </li>
                <li id="feature-2" class="">
                    <a href="/blog">
                        <h3>Blog</h3>
                        <p>News, how-tos, stories, and more</p>
                    </a>
                </li>
                <li id="feature-3" class="">
                    <a href="/a-list">
                        <h3>The A-List</h3>
                        <p>Handpicked, absolute favorites</p>
                    </a>
                </li>
                <li id="feature-4" class="">
                    <a href="/contribute">
                        <h3>Contribute</h3>
                        <p>We want to hear from you!</p>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <section id="newsletter" style="margin-top: 24px;">
        <p>Sign up for our newsletter to receive a handpicked selection of the best stories, recipes, and news, delivered weekly
            to your inbox.</p>
        <form action="http://thevegpost.us2.list-manage1.com/subscribe/post?u=be2c472e2e43f8735d9666407&amp;id=83098190d4" method="post"
            name="mc-embedded-subscribe-form">
            <fieldset>
                <label for="email" class="hide">Email</label>
                <input type="email" id="email" name="EMAIL" placeholder="Email">
            </fieldset>
            <fieldset class="submit">
                <input type="submit" value="Subscribe" name="subscribe">
            </fieldset>
        </form>
    </section>

    <section id="recent" class="blog">

        <article>
            <a href="http://foodsense.is/blog/2012s-best-summer-cookbooks">
                <img src="http://foodsense.is/uploads/post-images/cookbooks_blog.jpg" class="border" alt="image">
                <h1>2012’s Best Summer Cookbooks</h1>
            </a>
            <p>With the best of the season coming from “orchards, farms and gardens,” NPR has put together an impressive collection
                of 10 summer cookbooks.</p>
            <p class="meta">
                <time datetime="2012-05-23T02:41-05:00" pubdate="">May 23, 2012</time> /
                <a href="http://foodsense.is/blog/2012s-best-summer-cookbooks">Read »</a>
            </p>
        </article>

        <article>
            <a href="http://foodsense.is/blog/how-to-make-vegetable-chips">
                <img src="http://foodsense.is/uploads/post-images/SweetPotatoChips.jpg" class="border" alt="image">
                <h1>How to Make Vegetable Chips</h1>
            </a>
            <p>About a month ago, I ate almost an entire box of kale chips. My brother and I were visiting our cousin in Brooklyn,
                and before a very thoughtfully prepared vegan…</p>
            <p class="meta">
                <time datetime="2012-05-17T08:35-05:00" pubdate="">May 17, 2012</time> /
                <a href="http://foodsense.is/blog/how-to-make-vegetable-chips">Read »</a>
            </p>
        </article>

        <article>
            <a href="http://foodsense.is/blog/were-on-pinterest">
                <img src="http://foodsense.is/uploads/post-images/Pinterest_Page_featured.png" class="border" alt="image">
                <h1>Join us on Pinterest!</h1>
            </a>
            <p>If I could curate a cookbook for you, this would be it.</p>
            <p class="meta">
                <time datetime="2012-05-16T09:59-05:00" pubdate="">May 16, 2012</time> /
                <a href="http://foodsense.is/blog/were-on-pinterest">Read »</a>
            </p>
        </article>

        <article>
            <a href="http://foodsense.is/blog/recipes-from-a-sunday-supper">
                <img src="http://foodsense.is/uploads/post-images/Adithi_Dinner_blog.jpg" class="border" alt="image">
                <h1>Recipes from a Sunday Supper</h1>
            </a>
            <p>I could not figure out what to do with the delectable slices of Pear Cake that I brought home from this wonderful
                Sunday supper - eat them slowly, a little bit at…</p>
            <p class="meta">
                <time datetime="2012-05-15T09:42-05:00" pubdate="">May 15, 2012</time> /
                <a href="http://foodsense.is/blog/recipes-from-a-sunday-supper">Read »</a>
            </p>
        </article>

    </section>
</div>