<!-- ////////////////////////// -->
<!-- FOOTER STARTS HERE -->
<!-- ////////////////////////// -->
<footer class="footer">
    <p>
        <a href="http://foodsense.is/legal">Privacy Policy</a> |
        <a href="http://foodsense.is/legal#terms">Terms of Use</a> |
        <span id="eeEncEmail_bCDbqPdYXq">
            <a href="mailto:hello@foodsense.is">Contact</a>
        </span>
        <br>© 2018 Food Sense, all rights reserved.</p>
    <div class="social">
        <ul>
            <li class="twitter">
                <a href="http://twitter.com/getfoodsense">Twitter</a>
            </li>
            <li class="facebook">
                <a href="http://www.facebook.com/getfoodsense">Facebook</a>
            </li>
            <li class="rss">
                <a href="http://foodsense.is/rss">Subscribe via RSS</a>
            </li>
        </ul>
    </div>
</footer>