<!-- /////////////////////////////////// -->
<!-- HEADER & MENU OVERLAY -->
<!-- /////////////////////////////////// -->


<header>
  <h1 id="branding">Food Sense</h1>
  <nav>
    <ul>
      <li id="t-tastemakers">
        <a href="http://foodsense.is/tastemakers">Tastemakers</a>
      </li>
      <li id="t-blog">
        <a href="http://foodsense.is/blog">Blog</a>
      </li>
      <li id="t-vendors">
        <a href="http://foodsense.is/a-list">The A-List</a>
      </li>
      <li id="t-contribute">
        <a href="http://foodsense.is/contribute">Contribute</a>
      </li>
      <li id="t-about">
        <a href="http://foodsense.is/about">About</a>
      </li>
    </ul>
  </nav>

  <aside role="social">

    <section class="twitter">
      <h1>Latest Tweet</h1>
      <p>
        <a href="http://twitter.com/getfoodsense" class="button">Join the Conversation</a>
      </p>
    </section>

    <section class="facebook">
      <h1>Let's be friends!</h1>
      <p>For weekly finds, community recommendations, and more, like us on Facebook.</p>
      <p>
        <a href="http://www.facebook.com/getfoodsense" class="button">Join the Community</a>
      </p>
    </section>

  </aside>

</header>